@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;


}

.left {
    width: 25vw;
    padding: 10px;

    /* height: 100px; */
}

.right {
    width: 75vw;
    margin: 16px 0;
    position: relative;


    /* height: 300px; */
}

.home {
    /* padding: 10px ; */
}

.home ul li {
    display: flex;
    width: 14px;
    list-style: none;
    gap: 15px;
    padding-top: 14px;
    font-weight: bold;

}

.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}

.heading img {
    width: 30px;
}

.library {
    min-height: 76.5vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}

.footer a {
    color: grey;


}

.right {}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
}

.header>* {
    padding: 20px;

}

.spotifyPlaylists {
    padding: 16px;
}

.cardContainer {
    margin: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-height: 70vh;
    overflow: scroll;
}

.card {
    width: 200px;
    padding: 10px;
    background-color: #252525;
    border-radius: 5px;
    position: relative;

}

.card>* {

    padding-top: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.play {
    position: absolute;
    top: 150px;
    right: 20px;
    opacity: 1;
    transition: all 1s ease-out;

}

.buttons>* {
    padding: 3px;
    margin: 2px;
    gap: 12px;
}

.Signupbtn {

    background-color: rgb(34, 34, 34);
    color: rgb(156, 148, 148);
    font-weight: bold;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
}

.Signupbtn:hover {

    font-size: 17px;
    color: white;
}

.Loginbtn {

    border-radius: 45px;
    padding: 8px;
    border: none;
    cursor: pointer;
    font-weight: lighter;

}

.Loginbtn:hover {
    font-weight: bolder;

}

.playbar {
    position: absolute;
    bottom: 20px;
    padding: 12px;
    background-color: rgb(34, 34, 34);
    width: 70vw;
    
}

.songsbuttons{

    display: flex;
    justify-content: center;
    gap: 12px;
}

.songList ul {
    padding : 0 42px ;
    
}

.songList ul li {
    list-style-type: none ;
    display: flex;
}